header {
    height: 10vh;
    width: 90vw;
    background-color: grey;
    color: white;
    justify-self: center;
}

#dashboard {

    display: flex;
    justify-content: center;
    border: solid black;
    height: 80vh;
}

#teamMemberCards {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border: solid black;
    height: 80%;
    margin-top: 5px;
}

#sampleCard {
    border: solid black;

}